<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SurveyName</key>
	<string>Citi-Survey</string>
	<key>Logo</key>
	<string>Citi</string>
	<key>NavigatonBarColor</key>
	<string>#cccccc</string>
	<key>Font</key>
	<string>Georgia</string>
	<key>FontSize</key>
	<integer>26</integer>
	<key>FontColor</key>
	<string>#000000</string>
	<key>ProgressBarColor</key>
	<string>Blue</string>
	<key>Questions</key>
	<array>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Are you interested in our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Yes</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>No</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Don&apos;t know</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Can&apos;t say</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>1</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>What do you want from our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Everything</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Something</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Nothing</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Other thing</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>1</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>What do you want from our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Everything</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Something</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Nothing</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Other thing</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>1</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>What do you want from our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Everything</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Something</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Nothing</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Other thing</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>1</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>What do you want from our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Everything</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Something</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Nothing</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Other thing</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Are you interested in our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Yes</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>No</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Don&apos;t know</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Can&apos;t say</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Are you interested in our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Yes</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>No</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Don&apos;t know</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Can&apos;t say</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Are you interested in our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Yes</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>No</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Don&apos;t know</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Can&apos;t say</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>1</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>What do you want from our product?</string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Everything</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Something</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Nothing</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Other thing</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>2</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Please enter your thoughts</string>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
