<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SurveyName</key>
	<string>DBS-Survey</string>
	<key>Logo</key>
	<string>DBS</string>
	<key>NavigatonBarColor</key>
	<string>#000000</string>
	<key>FontSize</key>
	<integer>14</integer>
	<key>FontColor</key>
	<string>White</string>
	<key>ProgressBarColor</key>
	<string>Blue</string>
	<key>Questions</key>
	<array>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
				<dict>
					<key>Title</key>
					<string></string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
		<dict>
			<key>QuestionType</key>
			<integer>0</integer>
			<key>FlowType</key>
			<integer>0</integer>
			<key>Question</key>
			<string></string>
			<key>Options</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Hello</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Hello</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Hello</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Hello</string>
				</dict>
			</array>
			<key>BackgroundImage</key>
			<string></string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
